.titre1{
    font-size: 25px;
    text-align: center;
    color: red;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.carre1{
    background-color: yellow;
    width: 200px;
    height: 200px;
}

.carre2{
    background-color: red;
    width: 200px;
    height: 200px;
}

.carre3{
    background-color: green;
    width: 200px;
    height: 200px;
}

.divmaman{
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: 10px;
}

.divmaman1{
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

.divmaman2{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.divmaman3{
    display: flex;
    flex-direction: column-reverse;
}